<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item android">
      <div class="carousel-caption">
        <div class="pull-left part-1">
          <a href="https://plus.google.com/118292708268361843293/posts">
            <img src="/data/imgs/recnici/nick-butcher.jpg" width="150" height="188" alt="Nick Butcher" />
          </a>
          <h3>Přednáší Nick Butcher</h3>
        </div>
        <div class="pull-left part-2">
          <h2>
            Creating Modern Android UIs
          </h2>        
          <p>TODO blablabla</p>  
        </div>
      </div>
      <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android" /> 
    </div>
    <div class="item android">
      <div class="carousel-caption">
        <div class="pull-left part-1">
          <a href="https://plus.google.com/115995639636688350464/posts">
            <img src="/data/imgs/recnici/rich-hyndman.jpg" width="150" height="188" alt="Rich Hyndman" />
          </a>
          <h3>Přednáší Rich Hyndman</h3>
        </div>
        <div class="pull-left part-2">
          <h2>
            What's New in Android
          </h2>        
          <p>blabla text</p>  
        </div>
      </div>
      <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android" /> 
    </div>
    <div class="item web">
      <div class="carousel-caption">
        <div class="pull-left part-1">
          <a href="https://plus.google.com/117663020319348671498/posts">
            <img src="/data/imgs/recnici/vojta-jina.jpg" width="150" height="188" alt="Vojta Jína" />
          </a>
          <h3>Přednáší Vojta Jína</h3>
        </div>
        <div class="pull-left part-2">
          <h2>
            Angular JS
          </h2>        
          <p>blabla text</p>  
        </div>
      </div>
      <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android" /> 
    </div>
    <div class="item web">
      <div class="carousel-caption">
        <div class="pull-left part-1">
          <a href="https://plus.google.com/112540226618013533507">
            <img src="/data/imgs/recnici/misko-hevery.jpg" width="150" height="188" alt="Miško Hevery" />
          </a>
          <h3>Přednáší Miško Hevery</h3>
        </div>
        <div class="pull-left part-2">
          <h2>
            TODO title
          </h2>        
          <p>blabla text</p>  
        </div>
      </div>
      <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android" /> 
    </div>
    <div class="item other">
      <div class="carousel-caption">
        <div class="pull-left part-1">
          <a href="https://plus.google.com/116417566983382224278/posts">
            <img src="/data/imgs/recnici/vladimir-trebicky.jpg" width="150" height="188" alt="Vladimír Třebický" />
          </a>
          <h3>Přednáší Vladimír Třebický</h3>
        </div>
        <div class="pull-left part-2">
          <h2>
            MapReduce
          </h2>        
          <p>blabla text</p>  
        </div>
      </div>
      <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android" /> 
    </div>
  </div>  
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>