<div class="carousel" id="carousel-main">
    <ul>
      <li class="android">
        <div>
          <h2>
            Creating Modern Android UIs
          </h2>
          <h3>Přednáší Nick Butcher</h3>
          <p>Chcete se dozvědět více o programování pro Android?</p>
          <a href="#">více o této přednášce</a>
        </div>
        <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android">
      </li>
      <li class="web">
        <div>
          <h2>
            Creating Modern Android UIs
          </h2>
          <h3>Přednáší Nick Butcher</h3>
          <p>Chcete se dozvědět více o programování pro Android?</p>
          <a href="#">více o této přednášce</a>
        </div>
        <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android">
      </li>
      <li class="other">
        <div>
          <h2>
            Creating Modern Android UIs
          </h2>
          <h3>Přednáší Nick Butcher</h3>
          <p>Chcete se dozvědět více o programování pro Android?</p>
          <a href="#">více o této přednášce</a>
        </div>
        <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android">
      </li>
      <li class="games">
        <div>
          <h2>
            Creating Modern Android UIs
          </h2>
          <h3>Přednáší Nick Butcher</h3>
          <p>Chcete se dozvědět více o programování pro Android?</p>
          <a href="#">více o této přednášce</a>
        </div>
        <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android">
      </li>
    </ul>
  </div>