<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="carousel-caption">
        <div class="pull-left"></div>
        <div class="pull-left">
          <h2>
            Creating Modern Android UIs
          </h2>
          <h3>Přednáší Nick Butcher</h3>
          <p>Chcete se dozvědět více o programování pro Android?</p>
          <a href="#">více o této přednášce</a>
        </div>
      </div>
      <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android" /> 
    </div>
    <div class="item">
      <div class="carousel-caption">
        <h2>
          Creating Modern Android UIs
        </h2>
        <h3>Přednáší Nick Butcher</h3>
        <p>Chcete se dozvědět více o programování pro Android?</p>
        <a href="#">více o této přednášce</a>
      </div>
      <img src="/data/imgs/slider/androidfigure.jpg" width="550" height="300" alt="Android" /> 
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>