.carousel {
    width: 550px;
    margin: 0 auto;
    .carousel-control {
        display: none
    }
    .carousel-control.right {
        right: -50px;
    }
    .carousel-control.left {
        left: -50px;
    }
    .item {
        border: 1px solid $green-dark;
        border-width: 3px 0 5px;
        color: white !important;
        overflow: hidden;
        div {
            width: 400px;           
            top: 0;
            left: -200px;
            height: 280px;
            background: $green-dark;
            opacity: 0.75;
            padding: 10px 5px;
            transition: left 2s;
            -moz-transition: left 2s; /* Firefox 4 */
            -webkit-transition: left 2s; /* Safari and Chrome */
            -o-transition: left 2s; /* Opera */
        }
        div:hover {
            left: 0;
        }
    }
    h2, h3 {
        line-height: 1.2;
    }
    h2 {
        font-size: 24px !important;
        padding-top: 12px;
    }
    h3 {
        font-size: 15px;
        padding: 15px 0 5px;
    }
}

.carousel:hover .carousel-control {
    display: block;
}