#countdown {
  width: 280px;
  margin: 0 auto;
  li {
    text-align: center;
    margin: 0 5px;
  }
  span {
    display: block;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    padding-bottom: 5px;
    border-bottom: 5px solid $blue-dark;
    margin-bottom: 5px;
  }
  #hours {
    border-color: $red-light;
  }
  #minutes {
    border-color: $yellow-dark;
  }
  #seconds {
    border-color: $green-dark;
  }
}
