/* Override bootstrap variables */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);

$sansFontFamily: 'Open Sans', Arial, Helvetica, sans-serif !default;
$baseFontSize: 14px !default;
$baseLineHeight: 22px !default;

$dartFont: 'Open Sans', sans-serif;

@import "compass_twitter_bootstrap_awesome";

/* colors from logo */
$blue-dark: #0081C6;
$blue-light: #00A4E4;
$green-dark: #00D2B8;
$green-light: #55DDCA;
$green-dark: #05974f;
$yellow-dark: #f9c53a;
$red-light: #d94a3f;
$background-gray: #f5f5f5;
$background-hero-unit: #fcfcfc;
$border-hero-unit: #ddd;

body {
  padding-top: 60px;
  background: $background-gray url('../imgs/background.png') center -80px no-repeat;

}
/* place after the body + padding */

@import "compass_twitter_bootstrap_responsive";

section {
  margin-bottom: 1em;
}

.alert {
  a {
    color: $linkColorHover;
    text-decoration: underline;
  }
}

ol.toc li {
  list-style-type: none;
}

.header {
  text-align: center;
  margin-top: 20px;
  h2 {
    text-transform: none;
    text-rendering: auto;
    color: $blue-light;
    letter-spacing: 0.2px;
    font-weight: normal;
    @media (max-width: 481px) {
      font-size: 20px;
    }
  }
  p.motto {
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
  }
  p em {
    font-size: 13px;
  }
  h1 a {
    color: #333 !important;
    text-decoration: none;
  }

  p {
    margin-bottom: 5px;
  }
  .register {
    margin-top: 30px;
    #mc_embed_signup {
      text-align: center;
      @media (min-width: 768px) {       
        width: 426px;
        text-align: left;
        margin: 0 auto;
        position: relative;
      }
    }
    .btn {
      margin-bottom: 5px;
      @media (min-width: 768px) {
        width: 138px;
        position: absolute;
        right: 0;
        top: 0;
        margin-bottom: 0;
      }
    }
  }
  .buttons li {
    padding: 0 2px;
  }
  .input-xlarge {
    padding-top: 9px;
    padding-bottom: 9px;
    width: 270px;
    height: 20px;
    @media (max-width: 767px) {
      min-height: 0;
      box-sizing: content-box;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      margin-bottom: 5px;
    }
  }
}

.register-button .btn {
  position: static !important;
  margin-bottom: 10px !important;
}

.search-query {
  width: 100px;
}

.btn-primary {
  @include bootstrap-buttonBackground($blue-dark, $blue-light);
}

.thumbnail {
  background-color: whitesmoke;
  padding: 15px;
}

/* override because we have an image in there */
.navbar a.brand {
  padding: 9px 20px 0 20px;
  font-size: $baseFontSize + 2;
  min-width: 350px;
  @media (max-width: 767px) {
    font-size: $baseFontSize - 4;
    padding-right: 0;
    min-width: 0;
  }
  img {
    margin-right: 5px;
    margin-top: -4px;
  }
}

.navbar-inner {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-search {
  margin-top: 4px;
}

.navbar li.share-button {
  padding: 8px 8px 0 0;
    a {
      padding: 0; 
    }
}

.navbar .nav > li > a{
  opacity: 1;
  color: white;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
  border-top-color: $blue-dark;
  border-bottom-color: $blue-dark;
  opacity: 1;
}

article.homepage {

  pre code {
    font-size: 12px;
  }

  h1 {
    font-family: $dartFont;
  }

  section {
    margin-bottom: 70px;
    @media (max-width: 481px) {
      margin-bottom: 30px;
    }

    .callouts {
      h2 {
        font-family: $dartFont;
        border-bottom: 4px solid;
        line-height: 30px;
        margin-bottom: 5px;
        padding-top: 3px;
      }

      p.img {
        text-align: center;
      }

      iframe {
        margin-top: 10px;
        border: 1px solid $border-hero-unit;
        width: 100%;
        @media (max-width: 767px) {
          margin: 0 0 10px;
        }
      }
      .likes iframe {
        border: none;
        width: auto;
        @media (max-width: 767px) {
          margin: 10px 0;
        }
      }
      .facebook iframe {
        margin-top: 4px !important;
      }
    }
  }

  ul.buttons {
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  h1 {
      font-size: 40px;
      @media (max-width: 481px) {
        font-size: 20px;
        line-height: 30px;
      }
      line-height: 50px; 
      .big {
        font-size: 70px;
        line-height: 70px;
        color: $blue-dark;
        display: block;
        margin: 20px 0 5px;
        @media (max-width: 481px) {
          font-size: 50px;
          line-height: 50px;
          margin: 0;
        }
      }
    }

  #top-mast {
    text-align: center;
    margin-bottom: 30px;

    .logo {
      margin-bottom: 36px;
      position: relative;
      left: -28px;
    }

    .contents {
      padding-top: 30px;
      background-repeat: no-repeat;
      background-position: center bottom;

      @media (min-width: 481px) {
        background-image: url('/imgs/Dart_Background-large-white-dartboard.jpg');
      }
    }

    p {
      font-size: 18px;
      font-weight: 200;
      line-height: $baseLineHeight * 1.5;
      color: $heroUnitLeadColor;
    }

    ul.buttons {
      margin-top: 40px;

      li {
        margin: 0 1em;
        vertical-align: top;
        width: 180px;
        height: 73px;
      }
    }
  }

  .overview-transition {
    text-align: center;

    h1 {
      font-size: 50px;
      margin-bottom: 1em;
      color: #AAA;
    }
  }

}

#mce-error-response, #mce-success-response {
    font-weight: bold;
}

div.editor-current-version {
  font-style: italic;
  margin-bottom: 11px;
}

section.article div.author-and-date {
  font-style: italic;
}

label.os-choice {
  display: inline;
}

a.permalink {
  margin-left: 0.5em;
  display:none;
}

.has-permalink:hover > a.permalink {
  display:inline;
}

.book {
  margin-bottom: 2em;
  img.cover {
    box-shadow: 8px 8px 15px #CCC;
  }
}

.hero-unit {
  padding: 5px 15px 10px;
  margin-top: -3px;
  margin-bottom: 20px;
  overflow: auto;
  background: $background-hero-unit;
  border: 1px solid $border-hero-unit;
  ul {
    margin: 0;
    width: 50%;
  }
  h2 {
    color: $red-light !important;
  }
}

.tab-content {
  background: #FCFCFC;
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px 15px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;  
  h2 {
    border-bottom: none !important;
    text-transform: none !important;
    margin-bottom: 10px !important;
    color: $blue-dark;
  }
  p {
    margin-bottom: 20px;
  }
  a {
    float: right;
  }

  .tab-pane {
    min-height: 145px;
    @media (max-width: 767px) {
       min-height: 0;
    }
  }
}

.menu {
  list-style: none;
  margin: 0;
}

.menu-h li {
    float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.where {
  h2 {
    color: $green-dark;
  }
  a {
    color: $blue-dark !important;
    display: block;  
    text-align: center !important;
  }
}

.when {
  h2 {
    color: $yellow-dark;
  }
}

.logos {
  a {
    background: transparent url('../imgs/logos-footer.png') top left no-repeat;  
    display: block;
    text-indent: -99999px;
    width: 165px;
    height: 60px;
  }
  ul {
    margin: 0 auto;
    width: 430px;
    @media (max-width: 481px) {
      width: auto;
    }
  }
  li {
    padding: 0 20px;
    margin-bottom: 0;
    @media (max-width: 767px) {
      padding: 0 5px;
    }
    @media (max-width: 481px) {
      float: none;
      margin-bottom: 10px;
      a {
        margin: 0 auto;
      }
    }
  }
  .gug a:hover  {
    background-position: left bottom;
  }
  .google a {
    background-position: right top;
    width: 176px;
  }
  .google a:hover {
    background-position: right bottom;
  }
}

.nav-collapse, .nav-collapse.collapse {
  @media (max-width: 767px) {
    overflow: auto !important;
  }
}

footer {
  border-top: 1px solid #CECECE;
  background-color: #EFEFEF;
  color: $grayDark;
  font-size: $baseFontSize - 1;
  padding: 15px 0;
  ul {
    list-style: none;
    margin: 0;
  }
  p {
    font-size: $baseFontSize - 2;
    margin: 0;
  }
  .copyright {
    text-align: center;
  }
}

.spinner {
  background: white url('../imgs/spinner.gif') top left no-repeat;
}

@import "syntax";
