---
layout: default
type: home
cssClass: home
---
<article class="homepage">

<section>
  <div class="header">
    <div class="row">
      <div class="span6">
        <h1>
          <a href="/">
            <img src="/imgs/devfest-logo.png" width="381" height="70" alt="DevFest Praha">
          </a>
        </h1> 
        <p class="motto">Den plný technologií, zážitků, networkingu,<br /> přednášek a kódu (v uvedeném pořadí)!</p>
      </div>
      <div class="span6 countdown">
        <div id="countdown">
          <p>DevFest Praha 2012 začíná již za</p>
          <ul class="menu menu-h">
            <li>
              <span id="days"></span> Dní
            </li>
            <li>
              <span id="hours"></span> Hodin
            </li>
            <li>
              <span id="minutes"></span> Minut
            </li>
            <li>
              <span id="seconds"></span> Vteřin
            </li>
          </ul>    
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="register register-button">
          <p>
            Jsem IN! Chci přijít. Registrace je nutná a ZDARMA.
          </p>
          {% include register.html %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        {% include carousel.html %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row callouts">
    <div class="span6 where">
      <h2><i class="icon-home"></i> Kdy a kde?</h2>
      <div class="row">
        <div class="span3 date">
          <p>
            V sobotu <strong>10. listopadu</strong>.<br />
            Od 9:00 do 18:00.
          </p>
        </div> 
        <div class="span3 address">
          <p>
            V prostorách ČVUT - <strong>Fakulty strojní</strong>, <br />
            v Praze v Dejvicích.
          </p>
          <address>
            Technická 4<br />
            Praha 6&nbsp;&nbsp;166 07
          </address>
        </div> 
      </div>
      <iframe width="270" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.cz/maps?q=Technick%C3%A1+4&amp;ie=UTF8&amp;hq=&amp;hnear=Technick%C3%A1+1902%2F4,+160+00+Praha&amp;gl=cz&amp;t=m&amp;brcurrent=5,0,0&amp;hl=cs&amp;view=map&amp;ll=50.10379,14.391875&amp;spn=0.006881,0.012016&amp;z=15&amp;iwloc=near&addr&amp;output=embed"></iframe>
      <a target="_blank" class="map-link" href="https://maps.google.cz/maps?q=Technick%C3%A1+4&amp;ie=UTF8&amp;hq=&amp;hnear=Technick%C3%A1+1902%2F4,+160+00+Praha&amp;t=m&amp;brcurrent=5,0,0&amp;z=16&amp;iwloc=A&amp;source=embed"><i class="icon-map-marker"></i> Zvětšit mapu</a>
    </div>

    <div class="span6">
      <div class="hero-unit">
        <h2><i class="icon-user"></i> Co vás čeká?</h2>
        <ul class="menu pull-left">
          <li>Přednášky o #Androidu a #Webu</li>
          <li>Googlery</li>
          <li>Failcon</li>
          <li>GUGCamp</li>
          <li><a href="/fightclub/">FightClub</a></li>
          <li>NerdRock</li>
          <li>Rage komix soutěž</li>
        </ul>
        <ul class="menu pull-left">
          <li>AR Drone</li>
          <li>Office Hours</li>
          <li>Android Expo</li>
          <li><a href="/devgames/">DevGames</a></li>
          <li>GPivo afterparty</li>
          <li>Geekoviště </li>
          <li class="more">... a mnoho další zábavy!</li>
        </ul>
      </div>
      <div id="nav-tabs">
        <ul class="nav nav-tabs menu">
          <li class="active"><a href="#festival" data-toggle="tab">Festival</a></li>
          <li><a href="#prednasky" data-toggle="tab">Přednášky</a></li>
          <li><a href="#gugcamp" data-toggle="tab">GUGCamp</a></li>
          <li><a href="#fightclub" data-toggle="tab">FightClub</a></li>
          <li><a href="#failcon" data-toggle="tab">Failcon</a></li>
          <li><a href="#devgames" data-toggle="tab">DevGames</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="festival">
            <h2>Podzimní vývojářský festival</h2>
            <p>Den plný technologií, zážitků, networkingu, přednášek a kódu (v uvedeném pořadí)!</p>
          </div>
          <div class="tab-pane" id="prednasky">
            <h2>Přednášky o Androidu a Webdevelopmentu</h2>
            <p>Máme připraveny přednášky od skutečných odborníků, máte možnost se k nim přidat.</p>
          </div>
          <div class="tab-pane" id="gugcamp">
            <h2>GUGCamp</h2>
            <p>Přehlídka vašich aplikací s Google technologiemi a vybrání té nejlepší z nich.</p>
          </div>
          <div class="tab-pane" id="fightclub">
            <h2>FightClub</h2>
            <p>Souboj vývojářů mobilních platforem, dva týmy, jedno zadání. Realtime!</p>
            <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEZGNVl6Vm9IdWlGcXM4UkdUYnl1bHc6MA#gid=0" target="_blank">chci soutěžit ve FightClubu</a>
          </div>
          <div class="tab-pane" id="failcon">
            <h2>Failcon</h2>
            <p>Co je školným úspěšných lidí? Epic #fails. Není úspěchu, který by nebyl provázen pády, průšvihy a špatnými rozhodnutími. Několik odvážných a úspěšných lidí se přijde podělit o tuto část své cesty. A doufejme, že #failcon nebude #fail.</p>
          </div>
          <div class="tab-pane" id="devgames">
            <h2>DevGames</h2>
            <p>Série krátkých úloh, které prověří vaše coding skills. Svůj notebook připojíte na DevGames server a soutěž může začít. Kdo se první dostane na nejvyšší level?</p>
            <p>Ti nejlepší budou mít možnost prvního kola přijímacího řízení na vývojářskou pozici přímo u Google! Kdo má zájem, tak vytištěné CV s sebou.</p>
            <a class="pull-right" href="/devgames/">více o DevGames</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /.row --> 
</section>

<section>
  <ul class="likes menu">
    <li>
      <a id="gplus-circle" href="https://plus.google.com/u/0/events/c2997fsdecs49iebuds324it5j0" class="btn" target="_blank">
        <img src="https://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16" alt="Google+" style="vertical-align:-10%">
        +DevFest Praha
      </a>
    </li>
    <li class="twitter">
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1347008535.html#_=1351362222913&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=gughackathon&amp;show_count=false&amp;show_screen_name=true&amp;size=l" class="twitter-follow-button" style="width: 182px; height: 28px; " title="Twitter Follow Button" data-twttr-rendered="true"></iframe>
    </li>
    <li class="facebook">
      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fgughackathon&amp;send=false&amp;layout=button_count&amp;width=140&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:140px; height:21px;" allowtransparency="true"></iframe>
    </li>
  </ul>
</section>

<section>
  <div class="row callouts">
    <div class="span6 we">
      <h2><i class="icon-facetime-video"></i> My o DevFestu</h2>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/6FoUWoPkFXU" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span6 you">
      <h2><i class="icon-comment"></i> DevFest na sociálních sítích</h2>
      <div id="lifestream">&nbsp;</div>
    </div>
  </div>
</section>

<section class="logos">
  <div class="row">
    <div class="span12">
        <ul class="menu menu-h">
          <li class="google"><a href="http://google-cz.blogspot.cz/" title="Google">Google</a></li>
          <li class="gug"><a href="http://www.gug.cz/" title="GUG.cz">GUG.cz</a></li>
      </ul>   
    </div>
  </div>  
</section>

</article> <!-- /.homepage -->
